{% extends 'blog/base.html' %}
<!-- deze template is de basis template voor de blog, hier worden de algemene zaken zoals de header en footer gedefinieerd, deze template wordt gebruikt in alle andere templates van de blog -->
{% load static %}
<!-- deze regel laadt de static bestanden, zoals CSS en afbeeldingen, zodat deze gebruikt kunnen worden in de templates -->

{% block title %}Mijn blog{% endblock %} {% block inhoud %} {% for post in posts %}
<article class="post">
	<time class="date"> {{ post.published_date }} </time>
	<h2>
		<a href="{% url 'post_inhoud' pk=post.pk %}">
			<!--dit is de url naar de post inhoud, de detailpagina van de post. pk staat voor primary key; url aanmaken in urls.py -->
			{{ post.title }}
		</a>
	</h2>
	<p>{{ post.text|linebreaksbr }}</p>
</article>
{% endfor %} {% endblock %}
