body {
	background-color: brown;
	color: black;
}
header {
	height: 150px;
	background-color: orange;
}
h1 {
	color: black;
	padding-top: 45px;
	padding-left: 45px;
}
a {
	color: orange;
}
div {
	background-color: pink;
	width: 500px;
	margin: 25px 350px 25px auto;
}
article {
	width: 500px;
	margin: 25px 350px 25px auto;
	border: 3px solid white;
	background-color: pink;
}

footer {
	height: 75px;
	background-color: orange;
}
